@import './variables';

p {
  margin: 0 !important;
}

// titulos das secoes e subsecoes
.titulo__secoes {
  padding: 0 0 4px;
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  border-bottom: 3px solid $amarelo;
  z-index: 1;

  &::before {
    content: '';
    width: 24px;
    --height: 24px;
    height: var(--height);
    position: absolute;
    left: -4px;
    top: 10px;
    background: $azul;
    border-radius: $borda__full;
    z-index: -1;
  }
}

.subtitulo__secoes {
  padding: 0 0 4px;
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.2rem;
  z-index: 1;

  &::before {
    content: '';
    width: 20px;
    --height: 20px;
    height: var(--height);
    position: absolute;
    left: -4px;
    top: 6px;
    background: $amarelo;
    border-radius: $borda__full;
    z-index: -1;
  }
}

// cards da pagina inicial
.bolinha {
  position: absolute;
  width: 16px;
  height: var(--height);
  --height: 16px;
  background: $azul;
  border-radius: $borda__full;
}
.destaque__acessar__vermelho {
  background: url("../assets/ilustrativo/destaque-vermelho.png") no-repeat white 0 calc(100% + 1px)/20%;
}
.destaque__acessar__verde {
  background: url("../assets/ilustrativo/destaque-verde.png") no-repeat white 0 calc(100% + 1px)/20%;
}
.destaque__acessar__amarelo {
  background: url("../assets/ilustrativo/destaque-amarelo.png") no-repeat white 0 calc(100% + 1px)/20%;
}
//noticias
.texto__noticias {
  max-width: 100%;
  height: 70px;
  overflow: hidden;
}

// botoes
.botao {
  background: $azul;
  border: none;
  outline: $amarelo;
  box-shadow: $sombra__btn__forte;

  &:hover {
    box-shadow: $sombra__btn__forte__hover;
  }
}

// rankings
.ranking-1 {
  background: url("../assets/ilustrativo/ranking/fundo-ranking-1.png") no-repeat white 100% calc(100% + 1px)/80%;
}
.ranking-2 {
  background: url("../assets/ilustrativo/ranking/fundo-ranking-2.png") no-repeat white calc(100% + 3px) calc(100% + 1px)/101%;
}
.ranking-3 {
  background: url("../assets/ilustrativo/ranking/fundo-ranking-3.png") no-repeat white 100% calc(100% + 1px)/70%;
}

// videoaulas
.bolinha__linguagens {
  position: absolute;
  width: 24px;
  height: var(--height);
  --height: 24px;
  background: $linguagens;
  border-radius: $borda__full;
}
.bolinha__matematica {
  @extend .bolinha__linguagens;
  background: $matematica;
}
.bolinha__natureza {
  @extend .bolinha__linguagens;
  background: $natureza;
}
.bolinha__humanas {
  @extend .bolinha__linguagens;
  background: $humanas;
}

.destaque__acessar__linguagens {
  background: url("../assets/ilustrativo/videoaulas/destaque-linguagens.png") no-repeat white 0 calc(100% + 1px)/20%;
}
.destaque__acessar__matematica {
  background: url("../assets/ilustrativo/videoaulas/destaque-matematica.png") no-repeat white 0 calc(100% + 1px)/20%;
}
.destaque__acessar__natureza {
  background: url("../assets/ilustrativo/videoaulas/destaque-natureza.png") no-repeat white 0 calc(100% + 1px)/20%;
}
.destaque__acessar__humanas {
  background: url("../assets/ilustrativo/videoaulas/destaque-humanas.png") no-repeat white 0 calc(100% + 1px)/20%;
}
@media only screen and (min-width: 1904px) {
  .destaque__acessar__linguagens {
    background: url("../assets/ilustrativo/videoaulas/destaque-linguagens.png") no-repeat white 0 calc(100% + 1px)/16%;
  }
  .destaque__acessar__matematica {
    background: url("../assets/ilustrativo/videoaulas/destaque-matematica.png") no-repeat white 0 calc(100% + 1px)/16%;
  }
  .destaque__acessar__natureza {
    background: url("../assets/ilustrativo/videoaulas/destaque-natureza.png") no-repeat white 0 calc(100% + 1px)/16%;
  }
  .destaque__acessar__humanas {
    background: url("../assets/ilustrativo/videoaulas/destaque-humanas.png") no-repeat white 0 calc(100% + 1px)/16%;
  }
}
.destaque__acessar__videoaula__linguagens {
  background: url("../assets/ilustrativo/videoaulas/destaque-assuntos-videoaulas.png") no-repeat white 0 calc(100% + 1px)/20%;
}

.selecionado {
  background: $azul !important;
}
.bolinha__erro {
  position: absolute;
  width: 16px;
  height: var(--height);
  --height: 16px;
  background: $muito__dificil;
  border-radius: $borda__full;
}

// simulados e atividades escolares
.destaque__escolares__linguagens {
  background: url("../assets/ilustrativo/simulados-atividades-escolares/destaque-linguagens-simulados.png") no-repeat white 0 calc(100% + 1px)/40%;
}
.destaque__escolares__matematica {
  background: url("../assets/ilustrativo/simulados-atividades-escolares/destaque-matematica-simulados.png") no-repeat white 0 calc(100% + 1px)/40%;
}
.destaque__escolares__natureza {
  background: url("../assets/ilustrativo/simulados-atividades-escolares/destaque-natureza-simulados.png") no-repeat white 0 calc(100% + 1px)/40%;
}
.destaque__escolares__humanas {
  background: url("../assets/ilustrativo/simulados-atividades-escolares/destaque-humanas-simulados.png") no-repeat white 0 calc(100% + 1px)/40%;
}
.bolinha__notificacao {
  @extend .bolinha__linguagens;
  background: $amarelo;
}
.bolinha__finalizado {
  @extend .bolinha__linguagens;
  background: $desempenho__otimo;
}
.bolinha__acertos {
  @extend .bolinha;
  background: $desempenho__otimo;
}
.bolinha__expirou {
  @extend .bolinha__linguagens;
  background: $desempenho__muito__ruim;
}
.bolinha__expirou__peq {
  @extend .bolinha;
  background: $desempenho__muito__ruim;
}


// redacoes
.destaque__redacao {
  background: url("../assets/ilustrativo/redacao/destaque-redacao.png") white no-repeat 0 calc(100% + 1px)/20%;
}
.destaque__redacao__corrgidas {
  background: url("../assets/ilustrativo/redacao/destaque-redacao2.png") white no-repeat 0 calc(100% + 1px)/20%;
}


// aula ao vivo
.acessar__aula__ao__vivo {
  background: url('../assets/ilustrativo/aula-ao-vivo/acessar-aula-ao-vivo.png') white no-repeat calc(100% + 1px) calc(100% + 1px)/10%;
}

// ranking
.bolinha__ranking {
  position: absolute;
  width: 36px;
  height: var(--height);
  --height: 36px;
  background: $azul;
  border-radius: $borda__full;
}
.bolinha__melhores {
  @extend .bolinha;
  background: $amarelo;
}

// desempenho geral
.destaque__redacao__desempenho {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-redacao.png") white no-repeat 0 calc(100% + 1px)/20%;
}
.destaque__simulados__desempenho {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-simulados.png") white no-repeat 0 calc(100% + 1px)/20%;
}
.destaque__conquistas__desempenho {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-conquistas.png") white no-repeat 0 calc(100% + 1px)/20%;
}

.destaque__linguagens {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-linguagens.png") no-repeat white 0 0/20%;
}
.destaque__matematica {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-matematica.png") no-repeat white 0 0/20%;
}
.destaque__natureza {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-natureza.png") no-repeat white 0 0/20%;
}
.destaque__humanas {
  background: url("../assets/ilustrativo/desempenho-geral/destaque-humanas.png") no-repeat white 0 0/20%;
}

// loja
.card__produto {
  overflow: hidden;

  & .bg__opacidade {
    background-color: rgba(255, 255, 255, .6);
    transform: translateY(100%);
    opacity: 0;
    transition: .3s ease-in-out;

    & .adicionar__carrinho {
      top: calc(50% - 45px);
      left: calc(50% - 45px);
    }
  }

  &:hover .bg__opacidade {
    background-color: rgba(255, 255, 255, .6);
    transform: translateY(0);
    opacity: 1;

    & .adicionar__carrinho {
      top: calc(50% - 45px);
      left: calc(50% - 45px);
    }
  }
}

.destaque__texto {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    width: 10px;
    --height: 10px;
    height: var(--height);
    position: absolute;
    left: -4px;
    top: 6px;
    background: $amarelo;
    border-radius: $borda__full;
    z-index: -1;
  }
}

